@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: "gilroy";
      src: url('/gilroy/Gilroy-Font/Gilroy-Medium.woff') format('woff')
  }
  @font-face {
      font-family: "cascade";
      src: url('/cascade/Cascade.woff') format('woff')
  }
  @font-face {
      font-family: "sweet-sans-pro";
      src: url('/sweet-sans-pro/SweetSansProMedium.woff') format('woff')
  }
  @font-face {
      font-family: "sweet-sans-pro-light";
      src: url('/sweet-sans-pro/SweetSansProLight.woff') format('woff')
  }
}